<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRUD Clients</title>
    <link rel="stylesheet" href="/css/style.css">
    <script src="https://kit.fontawesome.com/e38e078162.js" crossorigin="anonymous"></script>

</head>
<body>

    <header>
        <h3 class="btnMenu"><i class="fa-solid fa-bars"></i></h3>

        <h1>Controle de Clientes</h1>
        <a href="http://localhost:3535/users/logout" class="btnMenu" style="margin-right: 35px; color: black;" ><i class="fa-solid fa-arrow-right-from-bracket"></i></a>
    </header>

    <div id="menu">
        <li><a href="http://localhost:3535/">Home</a></li>
        <li><a href="http://localhost:3535/cliente">Cliente</a></li>
        <li><a href="http://localhost:3535/produto">Estoque</a></li>
        <li><a href="http://localhost:3535/users">Usuarios</a></li>
    </div>