<%- include("../partials/header") -%>

<div  class="formCadastro" style="margin-top: 5%;">
    <h1 class="titleClients">Login</h1>
    <form action="/users/authenticate" method="post">
        
        Usuario: <input type="text" name="user" style="width: 150px"><br>
        Senha: <input type="password" name="password" style="width: 150px"><br>
       <% if(userIncorret) { %>
        <p style="color: red;">Usuario ou Senha incorretos</p>
        <% }%>
        <button class="btnEditar">Login</button>
    </form>
</div>


<%- include("../partials/footer") -%>